:root {
    font-size: 62.5%;

    --background1: #8E9AAF;
    --background2: #CBC0D3;
    --background3: #EFF1FF;
    --background4: #FEEAFA;

    --font1: 'Palanquin', sans-serif;
    --font2: 'Staatliches', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#page {
    min-width: 440px;
}

header {
    background-color: #8E9AAF;
    display: block;
    padding-top: 3.2rem;
    
}

header img {
    display: flex;
    margin: 2.0rem auto 3.2rem;
}

header h1 {
    background-color: var(--background2);
    width: 100%;
    text-align: center;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 4.0rem;
    line-height: 3.4rem;

    letter-spacing: 0.05em;

    color: #FFFFFF;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main {
    width: 40.0rem;
    margin: auto;
}

 p {
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 1.5rem;
    text-align: center;

    color: #23053A;
    width: 305px;
    margin: 1.4rem auto 5.0rem;
}

main .wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 3.6rem;
    position: relative;
}

main .wrap img {
    animation: leftside 0.4s;
}

main .wrap h2 {
    position: absolute;
    top: 1.5rem;
    right: 5.0rem;
    background: var(--background4);
    width: 11.0rem;
    height: 3.5rem;
    border-radius: 2.0rem;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;

    letter-spacing: 0.05em;

    color: #4A4E69;
    text-align: center;
    animation: rightside 0.4s;
}

.wrap:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.right div:nth-child(5){
    display: none;
}

.right div:nth-child(6){
    display: none;
}

@keyframes rightside{
    0% {
        opacity: 0.5;
        transform: translateX(6.0rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes leftside{
    0% {
        opacity: 0.5;
        transform: translateX(-6.0rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@media (min-width: 1150px) {
    #page {
        display: flex;
        background-color: #FFFFFF;
        min-height: 100vh;
        align-items: center;
    }

    main {
        margin: 0;
        width: 100%;
    }

    .left {
        background-color: #8E9AAF;
        width: 45.0rem;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left p {
        color: #EFF1FF;
    }

    .right {
        padding-left: 10.0rem;
        padding-right: 10.0rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        place-items: center;
        
        grid-template-areas: "A C" 
                             "B D";
    }

    .right div:nth-child(1){
        grid-area: A;
    }
    .right div:nth-child(2){
        grid-area: B;
    }
    .right div:nth-child(3){
        grid-area: C;
    }
    .right div:nth-child(4){
        grid-area: D;
    }
    .right div:nth-child(5){
        display: none;
    }
    .right div:nth-child(6){
        display: none;
    }
    
}

 @media (min-width: 1550px) {
    #page {
        display: flex;
        background-color: #FFFFFF;
        min-height: 100vh;
        align-items: center;
        max-width: 1600px;
        margin: auto;
    }

    main {
        margin: 0;
        width: 100%;
    }

    .left {
        background-color: #8E9AAF;
        width: 45.0rem;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left p {
        color: #EFF1FF;
    }

    .right {
        padding-left: 10.0rem;
        padding-right: 10.0rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3.2rem;
        place-items: center;
        
        grid-template-areas: "A B E" 
                             "D B F" 
                             "D C F";
    }

    .right div:nth-child(1){
        grid-area: A;
    }
    .right div:nth-child(2){
        grid-area: B;
    }
    .right div:nth-child(3){
        grid-area: C;
    }
    .right div:nth-child(4){
        grid-area: D;
    }
    .right div:nth-child(5){
        grid-area: E;
        display: block;
    }
    .right div:nth-child(6){
        grid-area: F;
        display: block;
    }
    
}